* {
    margin: 0;
    padding: 0;
}
.find-talent-container {
    background-color: #EDEFFF;
    min-height: 100vh;
    padding: 210px 70px;
    margin-top: -50px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); 
    width: 100%;
    box-sizing: border-box;
}
.talent-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.ft-header {
    color: #202229;
    font-size: 54px;
    text-align: center;
    width: 90%;
    line-height: 64px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.it-container, .design-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15.625rem;
}
.it-icons {
    background-color: rgba(255, 255, 255, 1);
    padding: 18px 26px;
    border-radius: 7px;
}
.it-icons h6 {
    font-size: 16px;
    font-weight: 500;
}
.icon-board {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 20px; 
    text-align: center;
    margin-top: 15px;
  }
.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.icon-container {
    background-color: #F6F6F6;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 96px;
}
.it-subtexts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    align-items: center;
}
.it-subtexts p {
    flex: 1 1 calc(50% - 25px); 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    color: rgba(32, 34, 41, 0.8);
    display: flex;
    align-items: center;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
.text {
    font-size: 24px;
    font-weight: 500;
}
.explore-container {
    display: flex;
    align-items: center;
}
.explore {
    background-color: #202229;
    border: 1px solid #F0F0F0;
    border-radius: 30px;
    cursor: pointer;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore span {
    font-size: 22px;
    color: rgba(32, 34, 41, 1);
}

@media only screen and (max-width: 1024px) and (min-height: 600px)  {
    .talent-container {
        gap: 30px;
    }
    .it-container, .design-container {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .text-container, .it-icons {
        width: 100%;
        box-sizing: border-box;
        gap: 10px;
    }
    .it-subtexts p {
        flex: 1;
        margin-bottom: 10px;
    }
    .find-talent-container {
        padding: 150px 40px;
    }
}
@media only screen and (max-width: 767px) {
    .icon-board {
        flex-wrap: wrap;
    }
    .find-talent-container {
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%); 
        padding: 50px 20px;
        margin-top: -65px;
    }
    .ft-header {
        font-size: 45px;
        width: 100%;
    }
    .it-subtexts p {
        flex: none;
        padding: 0 5px;
    }
    .extra {
        justify-content: space-between;
        gap: 20px;
    }
}