.joinus-main {
    background: none;
    padding: 10px 70px;
}
.joinus-main  h2{
    margin: 0 auto;
    font-size: 54px;
    color: #202229;
    padding: 40px 0px;
    text-align: center;
}
.join-btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
}
.one, .two, .three {
    background-color: #EDEFFF;
    display: flex;
    align-items: center;
    padding: 0 24px;
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}
.two {
    background-color: #FFF7E1;
}
.three {
    background-color: #F3F3F3;
}
.one-icon, .two-icon, .three-icon {
    margin-top: -60px;
    padding-right: 10px;
}
.one-header, .two-header, .three-header {
    font-size: 34px;
    font-weight: 600;
}
.one-paragraph, .two-paragraph, .three-paragraph {
    margin: 20px 0;
}
.developers, .content, .build {
    width: 400px; 
    height: 600px; 
    position: absolute;
    top: 60%; 
    right: -200px;
    transform: translate(-50%, -50%);
}
.content {
    top: 80%;
}
.build {
    top: 50%;
}

@media only screen and (max-width: 1024px) and (min-height: 600px)  {
    .developers, .content, .build {
        display: none;
    }
    .joinus-main {
        padding: 10px 50px;
    }
}
@media only screen and (max-width: 767px) {
    .joinus-main  h2 {
        font-size: 45px;
    }
    .joinus-main {
        padding: 10px 20px;
    }
    .one-header, .two-header, .three-header {
        font-size: 24px;
    }
    .one-paragraph, .two-paragraph, .three-paragraph {
        margin: 5px 0 10px 0px;
    }
    .one-icon, .two-icon, .three-icon {
        margin-top: -80px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 520px) {
    .one-icon, .two-icon, .three-icon {
        margin-top: -130px;
        padding-right: 10px;
    }
}